html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}

a {
    color: rgb(255, 255, 255)
}

/* Globally */



a:visited {
    color: none;
}

/* Each state */
a:focus {
    text-decoration: none;
    color: yellow;
}

a:hover, a:active {
    text-decoration: none;
    color: rgb(255, 166, 0)
}

ul {
    list-style-type: none;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 50vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1404&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner h1 {
   margin-top: 2rem;
    color: rgb(255, 174, 0)
}

#intro {
    margin-left: 10rem;
}

#intro h2 {
    color: rgb(42, 116, 255);
    font-size: 4rem;
}

/* features styles */

.features {
    padding: 2rem;
}

.features>ul {
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "a b c"
}

@media only screen and (max-width: 1115px) {
    .features>ul {
        display: grid;
        grid-template-areas: "a" "b" "c"
    }
}

.features>ul>li>figure {
    max-height: 22rem;
    overflow: hidden;
    border-radius: .5rem;
    position: relative;
}

.features>ul>li>figure>img {
    width: 100%;
}

.features>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.7);
    width: 100%;
}

.features>ul>li>figure>figcaption>h3 {
    color: white;
    padding: .5rem;
    font-size: 1.5rem;
}

.features>ul>li {
    border: 1px solid rgb(1, 39, 255);
    border-radius: .5rem;
    position: relative;
    background: #ffffff
}

.features>ul>li>p {
    font-size: 2rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
    margin-bottom: 50px;
}

.features>ul>li>a {
    padding: .5rem 1rem;
    margin: 1rem;
    position: absolute;
    bottom: 0;
}

.features a {
    background-color: rgb(0, 140, 255);
    text-decoration: none;
    color: rgb(255, 174, 0);
    border-radius: .5rem;
    transition: all .3s;
    font-weight: 700;
    font-size: 2rem;
}

.features a:hover {
    background-color: rgb(255, 187, 0);
    color: white;
}

/* footer */

footer {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    height: 1rem;
    position: relative;
}

footer p {
    margin-top: -5rem;
    padding-top: x;
    position: absolute;
    bottom: 0;
}